# Dependency
/vendor/
/node_modules/

# Environment
.env
.env.*

# Upload & storage
/uploads/
/img/uploads/
/storage/
/public/storage/

# Cache & log
*.log
/cache/
/tmp/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
